/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
}

h1 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.subtext {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.section {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#my-qr-reader {
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #2980b9;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #3498db;
}

footer {
  margin-top: 30px;
  font-size: 13px;
  color: #888;
}

video {
  width: 100% !important;
  border-radius: 8px;
  border: 1px solid #ccc !important;
}
